@media (max-width:1200px) {
    .container {
        padding: 0 30px;
    }
    #about .section-title button {
        width: 100%;
    }
    #about .section-title {
        padding-left: 20px;
    }
    #article .article-overlay {
        display: flex;
        flex-wrap: wrap;
    }
    #article .article-overlay .container {
        width: 100%;
    }
    #partner {
        display: flex;
    }
    .container {
        width: 90%;
        margin: auto;
    }
    #project .box .box-item {
        width: auto;
        height: auto;
    }
}

@media (max-width:992px) {
    #slider {
        height: 500px;
    }
    #slider .slider-desc {
        height: 100%;
        font-size: 25px;
    }
    header ul {
        width: 60%;
    }
    #base-story .container .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #base-story .base-video,
    #base-story .base-story {
        width: 70%;
        margin-top: 20px;
    }
    #about .about-team .about-team-item {
        height: 300px;
    }
    #about .about-team {
        align-items: center;
    }
    #about {
        padding: 20px 0;
    }
    #about .section-title button {
        margin-top: 10px;
    }
    .container {
        width: 90%;
    }
    #footer .container {
        width: 90%;
    }
    #footer .footer-content .hot-content ul li {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    #footer .footer-content .portfolio ul li {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width:768px) {
    header ul {
        position: absolute;
        width: 300px;
        height: 100%;
        background-color: #000;
        top: 0;
        left: -100%;
        z-index: 1000;
        flex-direction: column;
        justify-content: center;
        transition: all .4s ease;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;
    }
    header ul.active {
        left: 0;
    }
    header ul li {
        height: auto;
        margin: 20px 0;
    }
    .toggle-menu {
        display: flex;
    }
    #info {
        display: none;
    }
    #base-story .base-story .base-story-item {
        flex-wrap: wrap;
    }
    #base-story .base-story .base-story-item a {
        width: 47%;
    }
    #base-story .base-story .base-story-item a:nth-child(3),
    #base-story .base-story .base-story-item a:nth-child(4) {
        margin-top: 15px;
    }
    #base-story .base-story .story-title p {
        line-height: 25px;
    }
    #base-story .base-video::before {
        width: 300px;
    }
    #base-story .base-video::after {
        height: 200px
    }
    #about .about-team {
        display: none;
    }
    #about .section-title {
        width: 70%;
        padding: 0
    }
    #about .container .row {
        justify-content: center;
    }
    .container {
        width: 90%;
    }
    #beauty-text h2 {
        font-size: 18px;
    }
    #article {
        height: 1200px;
    }
    #article .post {
        width: 50%;
    }
    #article .post:nth-child(2),
    #article .post:nth-child(3) {
        margin-top: 15px;
    }
    #article .article-post {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    #partner ul {
        flex-wrap: wrap;
    }
    #partner ul li {
        width: 49%;
    }
    #partner ul li:nth-child(3),
    #partner ul li:nth-child(4) {
        margin-top: 10px;
    }
    #footer .container {
        width: 90%;
    }
    #footer .footer-about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #footer .footer-about .footer-about-title {
        width: 70%;
        text-align: center;
    }
    #footer .footer-about .footer-about-contact {
        width: 70%;
        margin-top: 30px;
    }
    #footer .footer-content {
        flex-direction: column;
        align-items: center;
    }
    #footer .footer-content div {
        width: 70%;
    }
    #footer .footer-content .quick-access h3,
    #footer .footer-content .portfolio h3 {
        color: #fff;
    }
}

@media (max-width:576px) {
    #header-top .header-top-social ul {
        width: 40%;
    }
    #slider .slider-desc {
        font-size: 20px;
    }
    #base-story .base-video,
    #base-story .base-story {
        width: 100%;
    }
    #services {
        height: 600px;
    }
    #services .tab-button ul {
        flex-direction: column;
        height: 200px;
    }
    #services .tab-button ul li {
        border-left: none;
        width: 100%;
        border-bottom: 1px solid #fff;
    }
    #services .tab-content .tab .content .content-title {
        width: 60%;
    }
    #services .tab-content .tab .content .content-img {
        width: 40%;
        display: flex;
        align-items: center;
    }
    #services .tab-content .tab .content .content-img img {
        width: 100%;
        height: 190px;
    }
    #services .tab-content .tab .content .content-title h3 {
        margin-bottom: 10px;
        font-size: 14px;
    }
    #services .tab-content .tab .content .content-title p {
        font-size: 13px;
    }
    #about .section-title {
        width: 100%;
    }
    .container {
        width: 90%;
    }
    #beauty-text h2 {
        font-size: 15px;
    }
    #article .post {
        width: 90%;
    }
    #footer .container {
        width: 90%;
    }
    #footer .copy-right p {
        margin-top: 12px;
        font-size: 11px;
    }
}

@media (max-width:400px) {
    #header-top .header-top-social ul {
        width: 50%;
    }
    .container {
        width: 90%;
        padding: 0 20px;
    }
    #header-top .header-top-message {
        width: 70%;
    }
    #header-top .header-top-social {
        width: 30%;
    }
    #header-top .header-top-social ul {
        width: 100%;
    }
    #slider {
        height: 350px;
    }
    #slider .slider-desc {
        font-size: 17px;
    }
    #base-story .base-video::before {
        width: 200px;
        height: 8px;
        right: -7px;
        top: -7px;
    }
    #base-story .base-video::after {
        height: 150px;
        width: 8px;
        right: -7px;
        top: 0;
    }
    #base-story .base-story .base-story-item a {
        width: 100%;
        margin: 0 !important;
        margin-bottom: 0px;
        height: 200px;
        margin-bottom: 10px !important;
    }
    #base-story .base-story .base-story-item a div svg {
        font-size: 50px;
    }
    #services .tab-content .tab .content .content-img {
        display: none;
    }
    #services .tab-content .tab .content .content-title {
        width: 100%;
    }
    #services .tab-content .tab .content .content-title {
        padding: 10px 20px
    }
    #beauty-text h2 {
        font-size: 12px;
    }
    #footer .footer-content div {
        width: 100%;
    }
    #footer .container {
        width: 90%;
    }
    #footer .footer-about .footer-about-title {
        width: 100%;
    }
    #footer .footer-about .footer-about-title p {
        padding: 0;
    }
    #footer .footer-about .footer-about-contact {
        width: 100%;
    }
    #footer .copy-right p {
        line-height: 20px;
    }
    #partner ul li {
        width: 100%;
        margin: 0 !important;
        margin-bottom: 0px;
        margin-bottom: 10px !important;
    }
}